

.App{
    background:#EFF2F5 ;
}
.dark {
    background-color: #333;
    color: #fff;
}
.light {
    background-color: #fff;
    color: #333;
}
.navbar{
    background: white;
    padding:1em;
    /*box-shadow: inset 0 -3px 0 0 cornflowerblue;*/
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.3);

}

.navbar a{
    font-size: 25px;
    color: #4f4c4c;
    margin: 0 1em;

}
.navbar a:active{
    color: #0C6DFD;
}
.nav-item:hover{
    background: #aaaaaa;
    border-radius: 10px;
}
#search-input{
    background:#EFF2F5 ;
}

body,html,.row-offcanvas {
    height:100%;
}



#sidebar-left {

    box-shadow: 1px 1px 5px rgba(0,0,0, 0.3);
    /*background:#EFF2F5 ;*/
    float: left;
    position:fixed;
    overflow-y:auto;
    overflow-x:hidden;
    height: 100vh;
    width:350px;
    left: 0;



}

#sidebar-left img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 30%;
    border-radius: 50%;

}
.sidebar-links li{
    margin-bottom: 1em;
}
.sidebar-links a{
    font-size: 24px;
    color:#4f4c4c ;
    text-decoration: none;
}
.sidebar-links li:hover{
    background: #aaaaaa;
    border-radius: 10px;
}


/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width: calc(100% + 220px);
    }
}


#sidebar-right {
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.3);
    float: right;
    position:fixed;
    overflow-y:auto;
    overflow-x:hidden;
    height: 100vh;

    width:350px;
    right: 0;
}
#sidebar-right ul{
    list-style: none;
}
#sidebar-right ul li{
    margin-bottom: 1em;
}
#sidebar-right li img{
    display: inline;
    width: 10%;
    border-radius: 40%;
    margin-right: 10px;
}

.main{
    background:#EFF2F5 ;

}


.story-cards img {
    width: 150px;
    height: 300px;
    border-radius: 10%;
}
.story-cards{


}

.input-box{
    /*margin: 5em;*/
    margin-top: 3em;
    justify-content: center;
    border-radius: 10%;
    padding: 0.5em;
    display: flex;
    background: white;
    width: inherit;
    height: 70px;
}
.input-box img{
    display: inline;
    height:100%;

    width: 80%;
    border-radius: 50%;
}
.input-box input{
    margin-left: 10px;
    width: 600px;
    height: 50px;
    background:#EFF2F5 ;
    border: none;
}

.post-card{
    width: inherit;
    height: fit-content;
    border-radius: 10px;
    padding: 0.5em;
    background: white;
    margin-bottom: 1.5em;
}
.post-card .profile-img-card{
    display: inline;
    width: 10%;



}
.login-navbar{
    background: #3A5998;
}
.login-header-div{
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
}
.login-header{
   font-size: xx-large;
   font-weight: bolder;
   padding: 10px;
    letter-spacing: 13px;

}

.login-main{
    height: 100vh;
}


.login-main-info h3{
    color:#3A5998;
}
.login-main-info img{
    height: 35%;
}
.btn-not-completed{
    background-image: linear-gradient(to right, #688bcc, #688bcc, #cbdadc, #dbdccc);
    color: black;
    border: none;
    margin: 0;
    position: relative;
    top: 50%;
    left: 20%;
    /*box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);*/
}
.btn-discover{
    background-image: linear-gradient(to right, #688bcc, #688bcc, #cbdadc, #dbdccc);
    color: black;
    border: none;
    margin: 0;
    position: relative;
    /*top: 50%;*/
    left: 20%;
    /*box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);*/
}
.premium-cards:hover{
    width: 30rem;
    background: #b4adad;
}
.img-update-div{
    display: flex;
    align-items: center;
}
.img-update-div img{
    margin: auto;
}
.dropdown-font{
    font-size: 1.2rem;
}
.dropdown-img{
    display: inline;
    width: 10%;
    border-radius: 40%;
    margin-right: 10px;
}